<% if @errors %>
	<div class="errors">
		<h1>You have <%= @errors.count %> <%= @errors.count ==1 ? "error" : "errors" %>!</h1>
	  <ul>
	    <% @errors.each do |error|  %>
	      <li><h2><%= error %></h2></li>
	    <% end %>
	  </ul>
	</div>
<% end %>

<h1>Enter a new table:</h1>

<div class="background">
	<form action="/tables" method="post">
		
		<label for="table[name]">
			Number
			<input type="text" name="table[number]">
		</label>
		<label for="table[number_guests]">
			Number of Guests
			<input type="text" name="table[number_guests]">
		</label>
			<input type="hidden" name="table[paid]" value="false">
		<input type="submit">

	</form>
</div>