<h1>Tables</h1>
<a class="button" href="tables/new"><div class="button">Add a new table.</div></a>
<div class="display">
	<% @tables.each do |table| %>
		<% if table.paid == false %>
			<div class="table-wrapper">
				<a href="/tables/<%=table.id%>">
					<div class="table-item">
						<div class="number">
						<%= table.number %>
						</div>
					</div>
				</a>            
				<a href="/tables/<%=table.id%>/edit">
					<div class="center">
						edit
					</div>
				</a>
			</div>
		<% end %>
	<% end %>
</div>