<nav>
	<div class="center-nav">
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/food_items">Menu</a>
			</li>
			<li>
				<a href="/tables">Tables</a>
			</li>
			<li>
				<a href="/orders">Orders</a>
			</li>
		</ul>
	</div>
</nav>