<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1">
	<title>Restaurant</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<link rel="stylesheet"  media="(min-width: 700px)" href="/stylesheets/desktop.css">
	<script src="/js/jquery.js"></script>
	<script src="/js/validate.js"></script>
</head>
<body>
	<%= erb :_header %>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>