
html {
    background-color: rgb(89, 89, 89);
}

body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 4em;
}

h1 {
    margin: 0px;
    text-align: center;
    background: #343434;
}

h2 {
    margin: 0;
}

a {
    color: #666;
}

nav {
    background: black;
    height: 1.75em;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

nav li {
    float: left;
    padding: 13px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.center{
    text-align: center;
}
.center-nav {
    width: 975px;
    margin: auto;
}

a.button{
    text-decoration: none;
}

div.button {
    width: calc(90% - 90px);
    padding: 45px 0;
    background: #FFF;
    margin: 45px auto;
    text-align: center;
    box-shadow: 0px 1px 30px black;
}

.item {
    display: inline;
    padding: 63px;
    position: absolute;
    left: 0px;
}

.edit {
    display: inline-block;
    padding: 63px;
    position: absolute;
    right: 0px;
}

.menu-item {
    width: 90%;
    margin: 10px auto;
    height: 200px;
    background: #ccc;
    position: relative;
}

form {
    text-align: center;
    position: relative;
}

input[type="submit"] {
    font-size: 1.5em;
    margin: 50px;
}

input[type="text"] {
    font-size: 1.1em;
    margin: 25px;
    width: 90%;
}

input.pay {
    width: 90%;
    background: #ccc;
    border: none;
    box-shadow: 0px 0px 8px black;
    height: 200px;
}

input.delete {
    right: 4%;
    color: rgb(192, 56, 56);
}

input.update {
    left: 4%;
    color: rgb(136, 136, 215);
}

.table-item {
    width: 200px;
    height: 200px;
    background: #666;
    box-shadow: 0px 0px 8px black;
    border-radius: 50%;
    color: white;
    text-align: center;
    vertical-align: top;
    margin: 25px;
    float: left;
}

.table-item > .number {
    padding: 60px;
}

.table-wrapper {
    display: inline-block;
    margin: 3%;
}

.background {
    background: #ccc;
    width: 90%;
    margin: 50px auto;
}

.order-options {
    height: 150px;
}

.order-options input[type="submit"] {
    font-size: .75em;
    margin: 28px 0px;
    width: 50%;
    height: 100px;
    position: absolute;
    background: none;
    border: none;
}


.food-wrapper {
    border: 1px solid black;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}