
html {
    background-color: #31353d;
}

body {
    margin: 0px;
    font-family: sans-serif;
    font-size: 1.1em;
    color: #1c1d21;
}

h1 {
    margin: 0px;
    text-align: center;
    background: #92cdcf;
}

h2 {
    margin: 0;
}

a {
    color: #666;
}

nav {
    background: #1c1d21;
    height: 2.75em;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

nav li {
    float: left;
    padding: 13px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.center{
    text-align: center;
}
.center-nav {
    width: 315px;
    margin: auto;
}

a.button{
    text-decoration: none;
}

div.button {
    width: calc(90% - 50px);
    padding: 25px;
    background: #EEEFF7;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0px 1px 30px black;
}

.item {
    display: inline;
    padding: 39px;
    position: absolute;
    left: 0px;
}

.edit {
    display: inline-block;
    padding: 39px;
    position: absolute;
    right: 0px;
}

.menu-item {
    width: 90%;
    margin: 10px auto;
    height: 100px;
    background: #ccc;
    position: relative;
}

form {
    text-align: center;
    position: relative;
}

input[type="submit"] {
    font-size: 1.5em;
    margin: 25px 25px 25px;
    cursor: pointer;
}

input[type="text"] {
    font-size: 1.1em;
    margin: 25px 5px 25px 0px;
    width: 90%;
}

input.pay {
    width: 90%;
    background: #EEEFF7;
    border: none;
    box-shadow: 0px 0px 8px black;
    height: 50px;
}

.menu input {
    margin-left: 20px;
}

form.menu{
    text-align: left;
}

input.delete {
    right: 4%;
    color: rgb(192, 56, 56);
}

input.update {
    left: 4%;
    color: rgb(136, 136, 215);
}

.table-item {
    width: 50px;
    height: 50px;
    background: #ccc;
    box-shadow: 0px 0px 8px black;
    border-radius: 50%;
    margin: 17px;
    float: left;
}

.table-item > .number {
    padding: 16px 20px;
}

.table-wrapper {
    display: inline-block;
    margin: 3%;
}

.delete input[type="submit"]{
    margin: 10px;
    background: red;
}

.background {
    background: #ccc;
    width: 90%;
    margin: 20px auto;
}

.order-options {
    height: 50px;
}

.order-options input[type="submit"] {
    font-size: .75em;
    margin: -2px 0px;
    position: absolute;
    background: none;
    border: none;
    padding: 15px;
}

.guests ul{
    color: #1c1d21;
}


.food-wrapper {
    border: 1px solid black;
    background: #445878;
}

.receipt{
    color: white;
    font-size: 2em;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}