<h1>Menu</h1>
<a class="button" href="foods/new"><div class="button">Add a food item to the menu.</div></a>

<table>
	<% @foods.each do |food| %>
		<tr>
		<td>
			<a href="/foods/<%=food.id%>">
				<%= food.name %>
			</a>    
		</td>
    <td>
   		<a href="/foods/<%=food.id%>/edit">edit</a>
    </td> 
		</tr>
	<% end %>
</table>