<h1>Menu</h1>
<div class="left">

<%= new_food_item_button %>

</div>
	<div class="display">
	<% @foods.each do |food| %>
	<div class="menu-item">
		<a href="/food_items/<%=food.id%>">
			<div class="item">
				<%= food.name %>
			</div>
		</a>    

		<a href="/food_items/<%=food.id%>/edit">
			<div class="edit">
				edit
			</div>
		</a>	
	</div>
	<% end %>
	</div>