<% if @errors %>
	<div class="errors">
		<h1>You have <%= @errors.count %> <%= @errors.count ==1 ? "error" : "errors" %>!</h1>
	  <ul>
	    <% @errors.each do |error|  %>
	      <li><h2><%= error %></h2></li>
	    <% end %>
	  </ul>
	</div>
<% end %>

<h1>Enter a new food item:</h1>

<div class="background">
	<form action="/foods" method="post">
		
		<label for="food_item[name]">
			Name
			<input type="text" name="food_item[name]">
		</label>
		<label for="food_item[price]">
			Price
			<input type="number" name="food_item[price]">
		</label>
		<input type="submit">

	</form>
</div>