<h1><%= @food_item.name %></h1>

<form class="delete" action="/foods/<%=@food_item.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="DELETE" >
</form>

<h2>Tables that ordered this item:</h2>
	<% @tables.each do |table| %>
	<%if table.paid == false %>
			<a href="/tables/<%= table.id %>">
				<div class="table-wrapper">
					<div class="table-item">
						<div class="number">
							<%= table.number %>	
						</div>				
					</div>
				</div>
			</a>
	<% end %>
	<% end %>
</ul>